@use 'sass:math';
@use 'sass:color';

@function luminance($color) {
  $r: math.div(color.channel($color, 'red', $space: rgb), 255);
  $g: math.div(color.channel($color, 'green', $space: rgb), 255);
  $b: math.div(color.channel($color, 'blue', $space: rgb), 255);

  @return (0.2126 * $r + 0.7152 * $g + 0.0722 * $b);
}

@function text-color($background-color) {
  $lum: luminance($background-color);

  @if $lum > 0.5 {
    @return #000;
  } @else {
    @return #fff;
  }
}
